<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<meta name="viewport" content="width-device-width, initial-scale=1">
    <title>College Project</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
  <script src="index.js" charset="utf-8"></script>
</head>
  <body>
<header>
  <h1>Daily Journel</h1>
<ul>
<li><a id = "link"  href="/" style="--clr:#ea1d6f"><span>HOME</span><i></i></a></li>
<li><a id = "link" href="/compose" style="--clr:#ea1d6f"><span>COMPOSE</span><i></i></a></li>
<li><a id = "link" href="/todolist" style="--clr:#ea1d6f"><span>TO-DO LIST</span><i></i></a></li>
<li><a id = "link" href="/contact" style="--clr:#ea1d6f"><span>CONTACT</span><i></i></a></li>
<li><a id = "link" class="logout" href="/logout" style="--clr:#ea1d6f"><span>Log Out</span><i></i></a></li>
</ul>
</header>
